@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.18;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-nav{
  display: flex;
  justify-content: space-between;
}
.main-nav-list{
  display: flex;
  list-style: none;
}
.nav-list-link{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}
.user-list-link{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.main-section{
  background: url("../images/index-background.jpg") no-repeat;
}
.reasons-header{
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}
.subscribe{
  background: url("../images/subscribe-background.jpg") no-repeat;
}
.catalog-search{
  background: url("../images/catalog-background.jpg") no-repeat;
}
