@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body{
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  background: #F2F2F2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:active,
:hover,
:focus{
  outline: 0;
  outline-offset: 0;
}
.container{
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}
.main-header{
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.main-nav{
  min-height: 66px;
  display: flex;
  justify-content: flex-start;
}
.main-nav-logo{
  position: absolute;
  z-index: 1;
}
.main-nav-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.left-list{
  padding-left: 186px;
  flex-grow: 1;
}
.nav-list-link{
  padding: 24px 0;
  margin: 0 34px 0 0;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  position: relative;
}
.nav-list-main{
  padding: 24px 0;
  margin: 0 34px 0 0;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  position: relative;
}
.nav-list-main::after{
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: #756157;
}
.nav-list-hotels{
  padding: 24px 0;
  margin: 0 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
.nav-list-hotels::after{
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: #756157;
}
.user-list-link-search{
  padding: 24px;
  background: url("../images/search.svg") center no-repeat;
  display: block;
}
.user-list-link-favorite{
  vertical-align: center;
  margin-right: 20px;
  padding: 24px;
  background: url("../images/favorite.svg") center no-repeat;
  display: block;
  position: relative;
}
.quality-favorite{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  right: 2px;
  z-index: 1;
  background: #7AB947;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}
.user-list-btn{
  background: #756157;
  padding: 9px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.user-list-btn:hover{
  background: #615048;
}
.user-list-btn:focus{
  background: #615048;
}
.user-list-btn:active{
  background: #756157;
  color: rgb(255, 255, 255, 0.3);
}
.user-list-btn:disabled{
  background: #E5E5E5;
}
.main-section{
  width: 100%;
  margin-bottom: 63px;
  background-color: #7DB54F;
  background-image: url("../images/index-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
}
.main-section::after{
  display: block;
  width: 100%;
  height: 57px;
  content: "";
  background: url("../images/divider.svg") center no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.main-section-image{
  display: block;
  margin: 0 auto;
}
.reasons-header{
  max-width: 620px;
  margin: 0 auto 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}
.reasons-section{
  text-align: center;
}
.reasons-section-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: #FFFFFF;
}
.reasons-section-item{
  display: flex;
  flex-wrap: wrap;
}
.reasons-block{
  padding: 92px 85px;
  max-width: 400px;
  background: #82b3d3;
}
.reasons-block-header{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-transform: uppercase;
}
.reasons-inner-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
}
.reasons-inner-header{
  margin: 30px 0;
  text-transform: uppercase;
}
.reasons-section-info{
  margin: 0 auto 90px;
}
.reasons-block-info{
  width: 230px;
  margin: 0;
}
.reasons-block-info-number{
  margin: 30px 0;
}
.reasons-inner-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 80px 0;
  background: rgba(131, 179, 211, 0.12);
}
.inner-item-food{
  background: none;
}
.reason-inner-img{
  display: block;
}
.sedona-town-img{
  width: 66.66%;
}
.devil-bridge-img{
  width: 66.66%;
}
.reasons-item-after{
  width: 400px;
  padding: 103px 85px;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  color: #000000;
}
.reasons-section-fourth{
  background: rgba(131, 179, 211, 0.2);
}
.search{
  padding-top: 91px;
  text-align: center;
}
.search-header{
  margin: 0 0 29px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}
.search-info{
  margin: 0 auto;
  max-width: 592px;
}
.search-link{
  max-width: 48%;
  margin: 56px auto 93px;
  padding: 12px 0;
  background: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}
.search-link:hover{
  background: #615048;
}
.search-link:focus{
  background: #615048;
}
.search-link:active{
  background: #756157;
  color: rgb(255, 255, 255, 0.3);
}
.search-link:disabled{
  background: #E5E5E5;
}
.subscribe{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 94px 0;
  color: #FFFFFF;
  background-color: #7DB54F;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subscribe-catalog{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 94px 0;
  color: #000000;
  background: none;
}
.subscribe-header{
  margin: 0;
  padding-bottom: 29px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}
.subscribe-info{
  max-width: 40%;
  margin: 0 auto;
  padding-bottom: 46px;
  text-align: center;
}
.subscribe-form{
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
}
.subscribe-input{
  flex-grow: 1;
  font-family: inherit;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  border-radius: 10px 0 0 10px;
  border: none;
  background: #F2F2F2;
}
.subscribe-form-button{
  display: block;
  width: 200px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  color: #FFFFFF;
  background: #82B3D3;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
}
.subscribe-form-button:hover{
  background: #68A2CA;
}
.subscribe-form-button:focus{
  background: #68A2CA;
}
.subscribe-form-button:active{
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.subscribe-form-button:disabled{
  background: #E5E5E5;
}
.main-footer{
  min-height: 120px;
  padding: 0 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.social-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social-link{
  display: block;
  padding: 13px;
  color: #83B3D3;
}
.social-link:hover{
  color: #68A2CA;
}
.social-link:focus{
  color: #68A2CA;
}
.social-link:active{
  color: rgba(104, 162, 202, 0.3);
}
.address-link{
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}
.address-link:hover{
  color: #756157;
}
.address-link:focus{
  color: #615048;
}
.address-link:active{
  color: #756157;
  opacity: 0.3;
}
.address-link:disabled{
  color: #E5E5E5;
}
.footer-logo{
  color: #000000;
}
.footer-logo:hover{
  color: #615048;
}
.footer-logo:focus{
  color: #615048;
}
.footer-logo:active{
  color: rgba(117, 97, 87, 0.3);
}

                          /* стили для страницы каталога */

.catalog-search{
  margin-bottom: 50px;
  padding: 35px 0 70px 70px;
  background-color: #7DB54F;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}
.catalog-header{
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
}
.catalog-search-item{
  border: 0;
  padding: 0;
  margin: 0;
}
.catalog-item-housing{
  margin-left: 70px;
  margin-right: 175px;
}
.catalog-item-price{
  width: 288px;
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.search-item-buttons{
  padding-top: 60px;
}
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumbs-icon{
  display: block;
  padding-right: 10px;
  color: #FFFFFF;
}
.breadcrumbs-icon:hover{
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-icon:active{
  color: rgba(255, 255, 255, 0.6);
}
.arrow-right{
  margin-right: 10px;
}
.breadcrumbs-link{
  font-size: 16px;
  line-height: 21px;
}
.catalog-item-legend{
  margin-bottom: 33px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}
.catalog-input-checkbox{
  display: block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 12px;
}
.checkbox-checked{
  position: relative;
}
.checkbox-checked::after{
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: url("../images/checkbox.svg") center no-repeat;
}
.catalog-input-radio{
  display: block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 100%;
  margin-right: 12px;
}
.radio-checked{
  position: relative;
}
.radio-checked::after{
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: #3F5E72;
  border-radius: 100%;
}
.catalog-checkin{
  font-size: 18px;
  line-height: 1.16;
}
.catalog-item-field{
  font-family: inherit;
  width: 144px;
  height: 48px;
  background: none;
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: #FFFFFF;
  outline: none;
  outline-offset: 0;
  border: 2px solid #FFFFFF;
}
.catalog-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144px;
  height: 48px;
  border: 2px solid #FFFFFF;
}
.catalog-field-left{
  border-radius: 4px 0 0 4px;
}
.catalog-field-left:hover{
  border-color: rgba(255, 255, 255, 0.6);
}
.catalog-field-left:active{
  background: #756157;
  border-color: #FFFFFF;
  border-width: 2px 1px 2px 2px;
  border-style: solid;
}
.catalog-item-text-from{
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 111px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.catalog-item-text-to{
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.catalog-field-right{
  border-left: 1px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}
.catalog-field-right:hover{
  border-color: rgba(255, 255, 255, 0.6);
}
.catalog-field-right:active{
  background: #756157;
  border-color: #FFFFFF;
  border-width: 2px 2px 2px 1px;
  border-style: solid;
}
.range-base{
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}
.range-base-left{
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background: #FFFFFF;

  /* для JS "left" увеличиваем, "width" уменьшаем */

  left: 0;
  width: 144px;
}
.range-base-right{
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background: #FFFFFF;

  /* для JS "right" увеличиваем, "width" уменьшаем */

  right: 51px;
  width: 96px;
}
.range-button-left{
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  border-radius: 5px;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
}
.range-button-left:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-button-left:active{
  border: 2px solid #83B3D3;
}
.range-button-right{
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);
  border-radius: 5px;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
}
.range-button-right:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-button-right:active{
  border: 2px solid #83B3D3;
}
.catalog-item-text{
  display: block;
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #FFFFFF;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 3;
  transform: translate(0, -50%);
}
.catalog-search-range{
  display: block;
  width: 100%;
  max-width: 288px;
}
.catalog-list-intro{
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-item-intro{
  margin-bottom: 15px;
  display: flex;

}
.submit-button{
  margin-bottom: 10px;
  padding: 14px 0;
  width: 160px;
  border: none;
  background: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.submit-button:hover{
  background: #68A2CA;
}
.submit-button:focus{
  background: #82b3d3;
}
.submit-button:active{
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.submit-button:disabled{
  background: #E5E5E5;
}
.reset-button{
  padding: 14px 0;
  width: 160px;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: inherit;
  color: #FFFFFF;
  border: 3px solid transparent;
}
.reset-button:hover{
  color: rgba(255, 255, 255, 0.6);
}
.reset-button:focus{
  color: rgba(255, 255, 255, 1);
  border: 3px solid #83B3D3;
}
.reset-button:active{
  border: 3px solid transparent;
  color: rgba(255, 255, 255, 0.3);
}
.catalog-search-form{
  display: flex;
  flex-wrap: wrap;
}
.cards-view{
  padding: 0 70px;
}
.cards-view-inner{
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cards-view-header{
  margin: 0;
  padding-right: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}
.cards-view-info{
  margin: 0;
  padding-right: 191px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}
.hotel-select{
  margin-right: 78px;
  width: 290px;
  border: 2px solid #E5E5E5;
  padding: 14px 20px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  outline-offset: 0;
  outline: 0;
}
.hotel-select:hover{
  border: 2px solid #68A2CA;
}
.hotel-select:focus{
  border: 2px solid #68A2CA;
}
.hover-select:active{
  border: 2px solid #3F5E72
}
.hotel-select:disabled{
  border: 2px solid #E5E5E5;
}
.hotel-select-type{
  font-family: inherit;
}
.cards-list-view{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.cards-view-btn{
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  background: url("../images/view-cards.svg") center no-repeat;
}
.cards-view-btn:hover{
  border-color: #000000;
}
.slider-view-btn{
  margin: 0 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  background: url("../images/view-slideshow.svg") center no-repeat;
}
.slider-view-btn:hover{
  border-color: #000000;
}
.list-view-btn{
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  background: url("../images/view-list.svg") center no-repeat;
}
.list-view-btn:hover{
  border-color: #000000;
}
.cards-list{
  margin: 0 0 66px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cards-item{
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.cards-item:not(:nth-child(3n)){
  margin-right: 18px;
}
.card-item-link{
  display: block;
  margin-bottom: 16px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}
.card-item-img{
  display: block;
}
.cards-item-header{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}
.cards-hotel-type{
  width: 140px;
  margin: 0 20px 16px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}
.cards-hotel-price{
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}
.cards-hotel-more{
  width: 140px;
  margin-right: 20px;
  padding: 9px 0;
  background: #756157;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}
.cards-hotel-more:hover{
  background: #615048;
}
.cards-hotel-more:focus{
  background: #615048;
}
.cards-hotel-more:active{
  background: #756157;
  color: rgb(255, 255, 255, 0.3);
}
.cards-hotel-more:disabled{
  background: #E5E5E5;
}
.cards-hotel-favorite{
  padding: 9px 0;
  width: 140px;
  background: #82B3D3;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}
.cards-hotel-favorite:hover{
  background: #68A2CA;
}
.cards-hotel-favorite:focus{
  background: #68A2CA;
}
.cards-hotel-favorite:active{
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.cards-hotel-favorite:disabled{
  background: #E5E5E5;
}
.cards-hotel-favorite-active{
  padding: 9px 0;
  width: 140px;
  background: #7AB947;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}
.cards-hotel-favorite-active:hover{
  background: #6C9E42;
}
.cards-hotel-favorite-active:focus{
  background: #6C9E42;
}
.cards-hotel-favorite-active:active{
  background: #7AB947;
  color: rgba(255, 255, 255, 0.3);
}
.cards-hotel-favorite-active:disabled{
  background: #E5E5E5;
}
.starring-range{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 114px;
  margin: 16px 46px 0 0;
  padding: 10px 0;
}
.card-star{
  display: block;
  width: 18px;
  height: 17px;
}
.card-star:not(:last-child){
  margin-right: 6px;
}
.cards-hotel-range{
  margin: 16px 0 0;
  padding: 9px 22px;
  width: 140px;
  background: #F2F2F2;
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
}
.cards-show-inner{
  padding: 30px 0;
  border-top: 1px solid #E6E6E6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cards-show-list{
  margin: 0;
  padding: 0 300px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cards-show-link{
  width: 48px;
  margin-right: 8px;
  padding: 6px 0;
  background: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}
.cards-show-link:hover{
  background: #68A2CA;
}
.cards-show-link:focus{
  background: #68A2CA;
}
.cards-show-link:active{
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.cards-show-link:disabled{
  background: #E5E5E5;
}
.cards-link-active{
  width: 48px;
  margin-right: 8px;
  padding: 6px 0;
  background: #F2F2F2;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}
.cards-pages-select{
  font-family: inherit;
  width: 160px;
  border: 2px solid #E5E5E5;
  padding: 10px 43px 10px 19px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  outline: none;
}
.cards-pages-select:hover{
  border: 2px solid #68A2CA;
}
.cards-pages-select:focus{
  border: 2px solid #68A2CA;
}
.cards-pages-select:active{
  border: 2px solid #3F5E72
}
.cards-pages-select:disabled{
  border: 2px solid #E5E5E5;
}
.hotel-select-type{
  font-family: inherit;
}
.cards-pages-info{
  margin: 0 50px 0 0;
}

                /***************** Модальное окно *************************/

.modal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 715px;
  position: fixed;
  top: 85px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
  padding: 36px 60px;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}
.modal-hidden{
  display: none;
}
.modal-header{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}
.modal-close-btn{
  display: block;
  width: 53px;
  height: 53px;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  background: #F2F2F2;
}
.modal-close-btn:hover{
  background: #E6E6E6;
}
.modal-close-btn::after{
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: url("../images/close.svg") center no-repeat;
  transform: translate(-50%, -50%);
}
.modal-form{
  width: 100%;
  margin: 54px 0;
  display: grid;
  grid-template-columns: 135px 135px 155px 135px;
}
.modal-text{
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}
.modal-date-field{
  flex-grow: 1;
  padding: 15px 19px;
  background: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  border-radius: 4px 0 0 4px;
  outline-offset: 0;
  outline: 0;
  border: 0;
}
.modal-date-field:hover{
  background: #E5E5E5;
}
.modal-date-field:focus{
  background: #E5E5E5;
}
.modal-date-field:active{
  background: #FFFFFF;
}
.modal-info{
  margin: 10px 0;
  grid-column: 2/5;
  font-size: 16px;
  line-height: 1.3;
}
.modal-info-color{
  color: #FF5757;
}
.date-choice-wrap{
  grid-column: 2/5;
  display: flex;
}
.choice-date-btn{
  display: block;
  width: 50px;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding: 16px;
  background: #F2F2F2;
  color: #A9A9A9;
}
.choice-date-btn:hover{
  background: #E5E5E5;
}
.choice-date-btn:focus{
  background: #E5E5E5;
}
.choice-date-btn:active{
  background: #FFFFFF;
}
.modal-field-amount{
  width: 44px;
  padding: 15px 0;
  text-align: center;
  background: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.16;
  outline-offset: 0;
  border: 0;
}
.modal-text-children{
  justify-self: center;
  padding-left: 54px;
  padding-right: 4px;
}
.modal-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
}
.modal-add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 100%;
  border: none;
  cursor: pointer;
  position: relative;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  color: #A9A9A9;
}
.modal-add-btn:hover{
  color: #000000;
}
.modal-remove-btn{
  display: block;
  width: 44px;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  background: #F2F2F2;
  color: #A9A9A9;
}
.modal-remove-btn:hover{
  color: #000000;
}
.modal-attention-btn{
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
}
.modal-attention-btn:hover{
  background: #68A2CA;
}
.modal-attention-btn::before{
  display: block;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-image: url("../images/i.svg");
}
.modal-attention-btn:hover::after{
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 32px;
  left: 3px;
  z-index: -1;
  background: #333333;
  transform: rotate(45deg);
  opacity: 1;
}
.modal-attention-text{
  display: none;
  width: 256px;
  position: absolute;
  top: 40px;
  left: -104px;
  z-index: 3;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.3;
  padding: 16px 20px;
  text-align: left;
}
.modal-attention-btn:hover .modal-attention-text{
  display: block;
}
.modal-search-btn{
  display: block;
  margin-top: 40px;
  padding: 12px 0;
  grid-column: 1/-1;
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
}
.modal-search-btn:hover{
  background: #68A2CA;
}
.modal-search-btn:focus{
  background: #68A2CA;
  border: 3px solid #756257;
}
.modal-search-btn:active{
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.modal-search-btn:disabled{
  background: #E5E5E5;
}
